/************* GLOBAL STYLES *************/

body {
  margin: 0;
  text-align: center;
  font-family: "Manrope", sans-serif;
  line-height: 2rem;
}

h1 {
  font-family: "Sacramento", cursive;
  font-size: 5rem;
  color: #05373a;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;

  color: #11999e;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #66bfbf;
}

a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #11999e;
  border-width: 5px;
  width: 10%;
  margin-top: 90px;
  margin-bottom: 90px;
}

/************* CLASS STYLES *************/

.top-container {
  background-color: #3797a4;
}

.middle-container {
  background-color: #fcf876;
}

.bottom-container {
  background-color: #8ccbbe;
}

.introText {
  padding-top: 20px;
}

.first-cloud {
  padding-top: 50px;
  position: absolute;
  right: 25%;
}

.second-cloud {
  left: 18%;
  padding-top: 5px;
  position: absolute;
}

.profileImg {
  width: 200px;
  height: 200px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}

.pImage {
  width: 100%;
  height: auto;
  border-radius: 100px;
  margin-top: 20px;
}

.cImg {
  width: 150px;
  height: 150px;
  position: relative;
  float: left;
  margin-top: 30px;
  margin-right: 30px;
}

.c2Img {
  width: 150px;
  height: 150px;
  position: relative;
  float: right;
  margin-top: 30px;
  margin-left: 30px;
}

.c3Img {
  width: 110px;
  height: 110px;
  position: relative;

  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
}

.bImg {
  width: 70px;
  height: 70px;
  position: relative;
  margin-left: 13%;

  padding-top: 40px;
}

.cImage {
  width: 100%;
  height: auto;
}

.c2Image {
  width: 100%;
  height: auto;
}

.c3Image {
  width: 100%;
  height: auto;
}

.pImg {
  width: 80px;
  height: 40px;
  position: absolute;
  right: 18%;
}

.plane {
  width: 100%;
  height: auto;
}

.balloon {
  width: 100%;
  height: auto;
}

.seagull {
  left: 10%;
  padding-top: 200px;
  position: absolute;
}

.contact-me {
  padding-bottom: 30px;
}

.bottom-container {
  padding-top: 30px;
  padding-bottom: 15px;
}

.introTitle {
  color: #e4e4e4;
  font-weight: normal;
  line-height: 1.5rem;
  margin-bottom: 50px;
}

.skill-row {
  width: 65%;
  margin: 30px auto 70px auto;
  text-align: left;
  line-height: 2;
}

.welcomeMessage {
  width: 65%;
  margin: 50px auto 70px auto;
  text-align: center;
  line-height: 2;
}

.skills h2 {
  margin-top: 40px;
}

.bakingText {
  text-align: center;
}

.contactMessage {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.BUTTON_EPT {
  background: #66bfbf;
  background-image: -webkit-linear-gradient(top, #66bfbf, #11999e);
  background-image: -moz-linear-gradient(top, #66bfbf, #11999e);
  background-image: -ms-linear-gradient(top, #66bfbf, #11999e);
  background-image: -o-linear-gradient(top, #66bfbf, #11999e);
  background-image: linear-gradient(to bottom, #66bfbf, #11999e);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 30px;
  color: #e4e4e4;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

.BUTTON_EPT:hover {
  background: #11999e;
  border: solid #11999e 0.8px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 30px;
  text-decoration: none;
  color: #084d50;
}

.bottom-container {
  font-size: 0.75rem;
}

.bottom-container a {
  margin-left: 30px;
  margin-right: 30px;
}

.fa-linkedin {
  font-size: 53px;
  color: #0e76a8;
}

.fa-linkedin:hover {
  font-size: 50px;
  color: #f18957;
  padding: 1.5px;
}

.fa-facebook-square {
  font-size: 53px;
  color: #3b5998;
}

.fa-facebook-square:hover {
  font-size: 50px;
  color: #0000ff;
  padding: 1.5px;
}

.fa-instagram-square {
  font-size: 53px;
  color: #8a3ab9;
}

.fa-instagram-square:hover {
  font-size: 50px;
  color: #e95950;
  padding: 1.5px;
}

.footerText {
  color: #0e7074;
}

.BATitle {
  text-align: right;
  padding-right: 160px;
}

/************* ID STYLES *************/

#introName {
  margin: 90px auto 80px auto;
}
