/*********** GENERAL CSS STYLING ***********/
/* GOOGLE FONT FAMILIES
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;
*/

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/************ HEADERS SECTION *************/

.siteHeader {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
  text-align: left;
}

.sectionHeader {
  font-size: 3rem;
  line-height: 1.5;
}

.ctaHeading {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: white;
}

/************ TITLE SECTION ************/

.navbar {
  padding-top: 0px;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
}

.navbar .navbar-expand-lg .navbar-dark {
  padding-left: 0px;
}

.nav-item {
  padding: 0 10px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light", sans-serif;
}

.downloadButton {
  margin: 5% 3% 5% 0;
}

.tImage {
  text-align: left;
}

.titleImage {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  z-index: 0;
  right: 30%;
}

@media (max-width: 1028px) {
  .titleImage {
    transform: rotate(0deg);
    position: static;
  }

  .tImage {
    text-align: center;
  }

  #title {
    text-align: center;
  }
}

#navbar {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 4.5rem;
}

#title {
  background-color: #ff4c68;
  color: white;
}

/************ FEATURE SECTION ************/

.featureIcon {
  color: #ef8172;
  padding-bottom: 7%;
}

.featureIcon:hover {
  color: #ff4c68;
}

.featureTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.featureText {
  color: #8f8f8f;
}

#features {
  position: relative;
  background-color: white;
  padding: 7% 15%;
}

/************ TESTIMONIAL SECTION ************/

.carousel-item {
  padding: 7% 15%;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#testimonials {
  background-color: #ef8172;
  color: white;
}

/************ PRESS SECTION ************/

.pressLogo {
  width: 14%;
  margin: 20px 20px 45px;
}

#press {
  padding-bottom: 3%;
  background-color: #ef8172;
  color: white;
}

/************ PRICING SECTION ************/

.priceHeader {
  font-size: 2.5rem;
  line-height: 1.5;
}

.pricingColumn {
  padding: 3% 2%;
}

#pricing {
  padding: 100px;
}

/************ CALL TO ACTION SECTION ************/

#cta {
  background-color: #ff4c68;
  padding: 7% 20%;
}

/************ FOOTER SECTION ************/

.footerSM span {
  margin: 0 8px 3px;
}

.footerSM span:hover {
  color: black;
}

#footer {
  background-color: white;
  padding: 10% 10% 5%;
  color: #8f8f8f;
}
